@{
    ViewBag.Title = "About";
}

<div>
    <div id="aboutInfo">
        <hgroup class="title">
            <h1>Acerca de nosotros</h1>
            <h2></h2>
        </hgroup>
        <article>
            <p>
                Somos una empresa familiar que intenta dar la mejor atencion a sus clientes, tratando de adaptarnos a sus horarios. Podras encontrarte con diferentes rubros, entre los cuales estan, ferretería, electricidad, articulos de sanitarios y pintureria
            </p>

            <p>
                No dudes en acercarte a nuestro local, ubicado en la ciudad de resistencia (Av. Alberdi 821), y preguntar por lo que necesites. Aceptamos diferentes medios de pago y contamos con mas de tres mil articulos.
            </p>

            <p>
                Nuestros vendedores serán capaces de asistirlos con la información que necesite. 
            </p>
        </article>
    </div>
    <div id="aboutImgWrapper">
        <img id="aboutImg"src="~/Images/frontImg.png" />
    </div>
</div>