@{
    ViewBag.Title = "";
}

<hgroup class="title">
    <h1  class="contactoInfo">Acercate:</h1>
    <h2  class="contactoInfo">no dudes en contactarnos</h2>
</hgroup>
<div id="contactoInfo">
    <section class="contact">
        <header>
            <h3  class="contactoInfo">Telefono</h3>
        </header>
        <p>
            <span class="label">Unico:</span>
            <span>0362-4426799</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3  class="contactoInfo">E-mail</h3>
        </header>
        <p>
            <span class="label">Consultas:</span>
            <span>sanitariosalberdi14@gmail.com</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3  class="contactoInfo">Direccion</h3>
        </header>
        <p>
            Av. Alberdi 821 <br>
            Resistencia, chaco.
        </p>
    </section>
    <section class="contact">
        <header>
            <h3  class="contactoInfo">Horarios de atención</h3>
        </header>
        <p>
            Lunes a viernes: de <span class="horario">8:00 hs a 12:30 hs</span> y <span class="horario">16:00 hs a 20:00 hs</span><br />
            Sabados: <span class="horario">8:00 hs a 13:00 hs</span>
            
        </p>
    </section>

</div>
<div id="contactoMapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1770.1865037838377!2d-58.99376849999997!3d-27.457644499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450c8dc19f1005%3A0x718af90a8f80c7d6!2sAv+Alberdi+821%2C+Resistencia%2C+Chaco!5e0!3m2!1ses!2sar!4v1412367536099" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>